<div>
    <button class="button button-icon" ng-click="closePopup()"><i class="icon ion-close-circled"></i></button>
    <span><b>¿Qué menú desea descargar?</b></span>
</div><br>
<button class="button button-positive ada-button" ng-click="downloadMenu(1)">Ada Byron</button><br>
<button class="button button-positive" ng-click="downloadMenu(2)">Betancourt</button><br>
<button class="button button-positive" ng-click="downloadMenu(3)">Torres Quevedo</button><br>