<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-positive nav-title-slide-ios7"></ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">

    <ion-header-bar class="bar-positive">
      <h1 class="title">Route EINA</h1>
    </ion-header-bar>

    <ion-content class="mymenu">

      <div id="menu-list">
        <ion-list class="list">
          <!-- RUTA ORIGEN - DESTINO -->
          <ion-item item-type="item-icon-left" nav-clear>
              <div id="ruta_origen">
                <label>Origen:</label><input type="text">
              </div>
              <div id="ruta_destino">
                <label>Destino:</label><input type="text">
              </div>
              <div id="ruta_mas_corta">
                <input type="checkbox"><label>Mostrar sólo ruta más corta</label>
              </div>
              <button menu-close type="submit" class="button button-small button-block button-stable">Calcular ruta</button>
          </ion-item>


          <!--  FILTRO DE BÚSQUEDA  -->
          <ion-item item-type="item-icon-left" nav-clear>
              <div id="filtro_titulo">
                Filtro de búsqueda
              </div>
              <div id="texto_busqueda">
                <input type="text" placeholder="Texto a buscar...">
              </div>
              <label class="item item-input item-select">
                <div class="input-label" id="edificio_input_lable">
                  Edificio
                </div>
                <select>
                  <option>Ada Byron</option>
                  <option selected>Torres Quevedo</option>
                  <option>Betancourt</option>
                </select>
              </label>
              <div id="lista_filtros">
                <ion-list>
                  <div class="filtro">
                    <input type="checkbox"><label>Laboratorios</label>
                  </div>
                  <div class="filtro">
                    <input type="checkbox"><label>Aulas</label>
                  </div>
                  <div class="filtro">
                    <input type="checkbox"><label>Despachos</label>
                  </div>
                </ion-list>
              </div>
              <button menu-close type="submit" class="button button-small button-block button-stable">Buscar</button>
          </ion-item>
        </ion-list>
      </div>

    </ion-content>
    
  </ion-side-menu>
  
</ion-side-menus>
